{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>User page</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="card-container">
            <div class="card">
            <a href="personaldetails">
                <h2>Personal Details</h2>
            </a>
            </div>
            <div class="card">
                <a href="academicdetails">
                <h2>Academic Details</h2>
            </a>
            </div>
            <div class="card">
                <a href="documnets">
                <h2>Documents</h2>
            </a>
            </div>
            <div class="card">
                <a href="attendance">
                <h2>Attendance</h2>
            </a>
            </div>
            <div class="card">
                <a href="assignment">
                <h2>Assignment</h2>
            </a>
            </div>
            <div class="card">
                <a href="books">
                <h2>Books</h2>
            </a>
            </div>
        </div>
    </body>
   

</html>