<!-- myapp/templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/myproject/loginstyle.css' %}">
    <title>User Login</title>
</head>
<body>
    <div class="container">
    <h2>User Login</h2>
    <div class="formcontainer">
    <form method="post" action="{% url 'user_page' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>
</div>
</body>
</html>
